@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    font-family: 'Open Sans', sans-serif;
    color: #1B262C;
}

button{
    background: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

.title{
    margin: 20px;
    text-align: center;
}

.form{
    background-color: #BBE1FA;
    margin: 60px auto;
    max-width: 800px;
    padding:30px 15px;
    border-radius: 5px;
    text-align: center;
}

.form .form-item{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin: 20px 0;
}

.form .form-item input{
    width:50%;
    border: none;
    border-radius: 3px;
    height: 26px;
    padding: 0 10px;
    outline: none;
}

.form .form-item input:focus{
    border:1px solid #0F4C75;
}

.form button{
    background-color: #0F4C75;
    padding:12px 18px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border-radius: 3px;
    margin: 20px auto 0;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.22);
    transition: all 100ms ease-in-out;
}

.form button:active{
    transform: scale(0.98);
    box-shadow:none;
}